@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

.nav {
  background-image: url("./sunnyside.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
}
.nav__burger {
  position: absolute;
  transform: translate(0, -140%);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
@media screen and (max-width: 600px) {
  .nav__burger {
    padding-top: 75px;
  }
}
.nav__burger.is-active {
  transform: translate(0, 0%);
  width: 80%;
  height: auto;
}
.nav__top {
  margin: 0px 48px 0px 40px;
  padding-top: 34px;
}
.nav__top--img {
  position: absolute;
  left: 0;
  padding-left: 40px;
  width: 170px;
  height: auto;
}
@media screen and (max-width: 600px) {
  .nav__top--img {
    width: 123px;
    height: auto;
    padding-left: 24px;
  }
}
.nav__top .links {
  position: absolute;
  right: 0;
  margin-right: 40px;
}
.nav__top .links a {
  color: #fff;
  text-decoration: none;
  margin-left: 47px;
}
.nav__top .links__buttom {
  height: 45px;
  width: 140px;
  border-radius: 50px;
  text-align: center;
  color: #24303E !important;
  font-family: "Fraunces", serif !important;
  background-color: #fff;
  margin-top: -10px;
  padding: 10px;
  font-weight: 700;
}
.nav__top .links__buttom:hover {
  height: 45px;
  width: 140px;
  border-radius: 50px;
  text-align: center;
  color: #fff !important;
  font-family: "Fraunces", serif !important;
  background-color: #77CDF5;
  margin-top: -10px;
  padding: 10px;
  font-weight: 700;
  cursor: -webkit-grab;
  cursor: grab;
}
@media screen and (max-width: 600px) {
  .nav__top .links {
    transform: translate(0, -220%);
  }
}
.nav__top .links.is-active {
  transform: translate(0, 0%);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__top .links.is-active a {
  margin: 20px 32px;
  font-weight: 600;
  color: #808397;
}
.nav__top .links.is-active .links__buttom {
  height: 45px;
  width: 140px;
  border-radius: 50px;
  text-align: center;
  color: #24303E !important;
  font-family: "Fraunces", serif !important;
  background-color: #FAD400;
  margin-top: -10px;
  padding: 10px;
  margin-top: 20px;
}
.nav__top .hamburger-box .hamburger-inner,
.nav__top .hamburger-box .hamburger-inner::before,
.nav__top .hamburger-box .hamburger-inner::after {
  background-color: white;
}
.nav__top #btn__burger {
  cursor: -webkit-grab;
  cursor: grab;
  transform: translate(0, -200%);
  position: absolute;
  right: 0;
}
@media screen and (max-width: 600px) {
  .nav__top #btn__burger {
    top: 0;
    padding: 30px 20px 0px 0px;
    transform: translate(0, 0%);
  }
}
.nav__top .top__text {
  text-align: center;
  color: #fff;
  font-size: 60px;
}
.nav__top .top__text--title {
  margin: 160px 0px 140px 0px;
  font-family: "Fraunces", serif !important;
}
.nav__top .top__text--arrow {
  height: 127px;
  width: 50px;
}
@media screen and (max-width: 600px) {
  .nav__top .top__text--title {
    margin: 20% 0px 35px 0px;
    font-size: 50px;
  }
  .nav__top .top__text--arrow {
    height: 90px;
    width: 30px;
  }
}
.nav__top .top__text .top__text--title.is-active {
  margin: 90px 0px 10px 0px;
}
@media screen and (max-width: 600px) {
  .nav {
    height: 538px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .nav .top__text {
    font-size: 40px;
  }
}

.container {
  display: flex;
  width: 100%;
  height: 600px;
}
.container__img1 {
  background-image: url("./egg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 600px;
}
@media screen and (max-width: 600px) {
  .container__img1 {
    height: 312px;
    width: 100%;
  }
}
.container__img2 {
  background-image: url("./glass.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 600px;
}
@media screen and (max-width: 600px) {
  .container__img2 {
    height: 312px;
    width: 100%;
  }
}
.container__img3 {
  background-image: url("./cherry.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .container__img3 {
    height: 600px;
    width: 100%;
  }
}
.container__img3 .text {
  text-align: center;
}
.container__img3 .text__title {
  font-family: "Fraunces", serif !important;
  color: #2C7566;
  font-size: 28px;
}
.container__img3 .text__information {
  padding: 27px 0px 60px 0px;
  color: #3E7467;
  line-height: 27px;
  font-size: 16px;
}
.container__img4 {
  background-image: url("./orange.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .container__img4 {
    height: 600px;
    width: 100%;
  }
}
.container__img4 .text {
  text-align: center;
}
.container__img4 .text__title {
  font-family: "Fraunces", serif !important;
  color: #052C3B;
  font-size: 28px;
}
.container__img4 .text__information {
  padding: 27px 0px 60px 0px;
  color: #19536C;
  line-height: 27px;
  font-size: 16px;
}
.container__img5 {
  background-image: url("./Bitmap.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 600px;
}
@media screen and (max-width: 600px) {
  .container__img5 {
    height: 188px;
    width: 50%;
  }
}
.container__img6 {
  background-image: url("./Bitmap1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 600px;
}
@media screen and (max-width: 600px) {
  .container__img6 {
    height: 188px;
    width: 50%;
  }
}
.container__img7 {
  background-image: url("./Bitmap2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 600px;
}
@media screen and (max-width: 600px) {
  .container__img7 {
    height: 188px;
    width: 50%;
  }
}
.container__img8 {
  background-image: url("./Bitmap3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 600px;
}
@media screen and (max-width: 600px) {
  .container__img8 {
    height: 188px;
    width: 50%;
  }
}
.container__text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 165px;
}
.container__text--title {
  font-family: "Fraunces", serif !important;
  font-size: 40px;
  color: #24303E;
}
.container__text--information {
  margin: 32px 110px 40px 0px;
  line-height: 30px;
  font-weight: 600;
  font-size: 18px;
  color: #808397;
}
@media screen and (max-width: 600px) {
  .container__text {
    text-align: center;
    padding: 0px 24px 64px 24px;
    height: 437px;
    width: 100%;
  }
  .container__text--title {
    font-size: 32px;
    padding: 64px 0px 24px 0px;
  }
  .container__text--information {
    margin: 0 auto;
    padding-bottom: 32px;
  }
}
.container__text--yellow {
  color: #24303E;
  font-family: "Fraunces", serif;
  cursor: -webkit-grab;
  cursor: grab;
  text-decoration: underline;
  -webkit-text-decoration-color: #FEF2BA;
          text-decoration-color: #FEF2BA;
  text-decoration-thickness: 8px;
}
.container__text--yellow:hover {
  color: #24303E;
  font-family: "Fraunces", serif;
  cursor: -webkit-grab;
  cursor: grab;
  text-decoration: underline;
  -webkit-text-decoration-color: #FAD400;
          text-decoration-color: #FAD400;
  text-decoration-thickness: 8px;
}
.container__text--pink {
  color: #24303E;
  font-family: "Fraunces", serif;
  cursor: -webkit-grab;
  cursor: grab;
  text-decoration: underline;
  -webkit-text-decoration-color: #FFDBD4;
          text-decoration-color: #FFDBD4;
  text-decoration-thickness: 8px;
}
.container__text--pink:hover {
  color: #24303E;
  font-family: "Fraunces", serif;
  cursor: -webkit-grab;
  cursor: grab;
  text-decoration: underline;
  -webkit-text-decoration-color: #FE7766;
          text-decoration-color: #FE7766;
  text-decoration-thickness: 8px;
}

@media screen and (max-width: 600px) {
  #container1 {
    flex-direction: column-reverse;
    height: 750px;
  }
}

@media screen and (max-width: 600px) {
  #container2 {
    flex-direction: column;
    height: 750px;
  }
}

@media screen and (max-width: 600px) {
  #container3 {
    flex-direction: column;
    height: 1200px;
  }
}

@media screen and (max-width: 600px) {
  #container4 {
    flex-wrap: wrap;
    height: 375px;
  }
}

.opinions {
  padding: 160px;
}
@media screen and (max-width: 600px) {
  .opinions {
    padding: 64px 24px;
  }
  .opinions__title {
    font-size: 16px;
  }
}
.opinions__title {
  text-align: center;
  font-size: 20px;
  font-style: 900;
  font-family: "Fraunces", serif !important;
  letter-spacing: 5px;
  color: #A7AAAD;
}
.opinions .clients {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .opinions .clients {
    flex-direction: column;
  }
}
.opinions .clients .client {
  text-align: center;
}
.opinions .clients .client__photo {
  padding-top: 80px;
}
.opinions .clients .client__opinion {
  padding: 58px 50px 70px 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #5B636D;
}
@media screen and (max-width: 600px) {
  .opinions .clients .client__opinion {
    padding: 58px 0px 70px 0px;
  }
}
.opinions .clients .client__name {
  font-family: "Fraunces", serif !important;
  font-size: 18px;
  color: #24303E;
}
.opinions .clients .client__profession {
  padding-top: 10px;
  color: #A7AAAD;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #90D4C6;
  text-align: center;
  padding: 64px 0px 80px 0px;
}
.footer__options {
  margin-top: 40px;
}
.footer__options--green {
  color: #458D7E;
  text-decoration: none;
  padding: 0px 28px 0px 28px;
}
.footer__options--green:hover {
  color: #fff;
  cursor: -webkit-grab;
  cursor: grab;
}
.footer__socialMedia {
  display: flex;
  padding-top: 80px;
  padding-left: 50px;
}
.footer__socialMedia--facebook {
  height: 20px;
  width: 20px;
  background-image: url("./socialmedia2.svg");
  background-repeat: no-repeat;
  margin-right: 57px;
  cursor: -webkit-grab;
  cursor: grab;
}
.footer__socialMedia--facebook:hover {
  height: 20px;
  width: 20px;
  background-image: url("./socialmediawhite2.svg");
  background-repeat: no-repeat;
  margin-right: 57px;
  cursor: -webkit-grab;
  cursor: grab;
}
.footer__socialMedia--instagram {
  height: 20px;
  width: 20px;
  background-image: url("./socialmedia1.svg");
  background-repeat: no-repeat;
  margin-right: 57px;
  cursor: -webkit-grab;
  cursor: grab;
}
.footer__socialMedia--instagram:hover {
  height: 20px;
  width: 20px;
  background-image: url("./socialmediawhite1.svg");
  background-repeat: no-repeat;
  margin-right: 57px;
  cursor: -webkit-grab;
  cursor: grab;
}
.footer__socialMedia--twitter {
  height: 20px;
  width: 20px;
  background-image: url("./socialmedia3.svg");
  background-repeat: no-repeat;
  margin-right: 57px;
  cursor: -webkit-grab;
  cursor: grab;
}
.footer__socialMedia--twitter:hover {
  height: 20px;
  width: 20px;
  background-image: url("./socialmediawhite3.svg");
  background-repeat: no-repeat;
  margin-right: 57px;
  cursor: -webkit-grab;
  cursor: grab;
}
.footer__socialMedia--pinterest {
  height: 20px;
  width: 20px;
  background-image: url("./socialmedia4.svg");
  background-repeat: no-repeat;
  margin-right: 57px;
  cursor: -webkit-grab;
  cursor: grab;
}
.footer__socialMedia--pinterest:hover {
  height: 20px;
  width: 20px;
  background-image: url("./socialmediawhite4.svg");
  background-repeat: no-repeat;
  margin-right: 57px;
  cursor: -webkit-grab;
  cursor: grab;
}/*# sourceMappingURL=style.css.map */