@import "./functions";
@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $barlow;
}
.nav{
    &__burger{
        position: absolute;
        transform: translate(0,-140%);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        @media screen and (max-width:600px){
            // transform: translate(0,0%);
            padding-top: 110px;
        }
    }
    &__burger.is-active{
        transform: translate(0,0%);
    }
    &__top{
        margin: 0px 48px 0px 40px;
        padding-top: 34px;
            &--img{
                position:absolute;
                left: 0;
                padding-left:40px; 
                width: 170px;
                height: auto;
                @media screen and (max-width:600px) {
                    width: 123px;
                    height: auto;
                    padding-left:24px; 
                }
            }
            .links{
                position: absolute;
                right: 0;
                margin-right: 40px;
                a{
                    color: $white;
                    text-decoration: none;
                    margin-left: 47px;
                }
                &__buttom{
                    @include button($dark-blue !important,$white);
                    font-weight: 700;
                }
                &__buttom:hover{
                    @include button($white !important,$ligth-blue);
                    font-weight: 700;
                    cursor: grab;
                }
                @media screen and (max-width:600px){
                    transform: translate(0,-220%);
                }
            }
            .links.is-active{
                transform: translate(0,0%);
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                padding-top: 120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    margin: 20px 32px;
                    font-weight: 600;
                    color: $gray;
                }
                .links__buttom{
                    @include button($dark-blue !important,$yellow);
                    margin-top: 20px;
                }
            } 
        // burger
        .hamburger-box .hamburger-inner,
        .hamburger-box .hamburger-inner::before,
        .hamburger-box .hamburger-inner::after {
        background-color: white;
        }
        #btn__burger{
            cursor: grab;
            transform: translate(0,-200%);
            position: absolute;
            right: 0;
                @media screen and (max-width:600px){
                    // margin-left: 250px;
                    top: 0;
                    padding: 30px 20px 0px 0px;
                    transform: translate(0,0%);
                }
        }
        .top__text{
            text-align: center;
            color: $white;
            font-size: 60px;
            &--title{
                margin: 160px 0px 140px 0px;
                font-family: $fraunces !important;
            }
            &--arrow{
                height: 127px;
                width: 50px;
                
            }
            @media screen and (max-width:600px){
                &--title{
                    margin: 60px 0px 35px 0px;
                    font-size: 50px;
                }
                &--arrow{
                    height: 107px;
                    width: 30px;
                }
            }
            .top__text--title.is-active{
                margin: 90px 0px 52px 0px;
            }  
        }
    }
    @include background-image('./sunnyside.png',100%,100%,1000px,538px);
    @media screen and (max-width: 600px) {
        .top__text{
            font-size: 40px;
        }
    }
}

.container{
    display: flex;
    width:100%;
    height: 600px;
    &__img1{
        @include background-image('./egg.png',50%,100%,600px,312px);
    }
    &__img2{
        @include background-image('./glass.png',50%,100%,600px,312px)
    }
    &__img3{
        @include background-image('./cherry.png',50%,100%,600px,600px);
        @include center-content-column;
        .text{
            text-align: center;
            &__title{
                font-family: $fraunces !important;
                color: $dark-green;
                font-size: 28px;
            }
            &__information{
                padding: 27px 0px 60px 0px;
                color: $p-green;
                line-height: 27px;
                font-size: 16px;
            }
            @media screen and (max-width: 600px){

            }
        }
    }
    &__img4{
        @include background-image('./orange.png',50%,100%,600px,600px);
        @include center-content-column;
        .text{
            text-align: center;
            &__title{
                font-family: $fraunces !important;
                color: $t-blue;
                font-size: 28px;
            }
            &__information{
                padding: 27px 0px 60px 0px;
                color: $p-blue;
                line-height: 27px;
                font-size: 16px;
            }
        }
    }
    &__img5{
        @include background-image('./Bitmap.png',25%,50%,600px,188px)
    }
    &__img6{
        @include background-image('./Bitmap1.png',25%,50%,600px,188px)
    }
    &__img7{
        @include background-image('./Bitmap2.png',25%,50%,600px,188px)
    }
    &__img8{
        @include background-image('./Bitmap3.png',25%,50%,600px,188px)
    }
    &__text{
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 165px;
        &--title{
            font-family: $fraunces !important;
            font-size: 40px;
            color: $dark-blue;
        }
        &--information{
            margin: 32px 110px 40px 0px;
            line-height: 30px;
            font-weight: 600;
            font-size: 18px;
            color: $gray;
        }
        @media screen and (max-width:600px) {
            text-align: center;
            padding: 0px 24px 64px 24px;
            height: 437px;
            width: 100%;
            &--title{
                font-size: 32px;
                padding: 64px 0px 24px 0px;
            }
            &--information{
                margin: 0 auto;
                padding-bottom: 32px;
            }
        }
        &--yellow{
            @include button-text($ligth-yellow,$fraunces);
        }
        &--yellow:hover{
            @include button-text($yellow,$fraunces);
        }
        &--pink{
            @include button-text($ligth-pink,$fraunces);
        }
        &--pink:hover{
            @include button-text($pink,$fraunces);
        }
    }
}

#container1{
    @media screen and (max-width: 600px){
        flex-direction: column-reverse;
        height: 750px;
    }
}
#container2{
    @media screen and (max-width: 600px){
        flex-direction: column;
        height: 750px;
    }
}
#container3{
    @media screen and (max-width: 600px){
        flex-direction: column;
        height: 1200px;
    }
}
#container4{
    @media screen and (max-width: 600px){
        flex-wrap: wrap;
        height: 375px;
    }
}

.opinions{
    padding: 160px;
    @media screen and (max-width: 600px){
        padding: 64px 24px;
        &__title{
            font-size: 16px;
        }
    }    
    &__title{
        text-align: center;
        font-size: 20px;
        font-style: 900;
        font-family: $fraunces !important;
        letter-spacing: 5px;
        color: $ligth-gray;
    }
    .clients{
        display: flex;
        justify-content: center;
        @media screen and (max-width:600px){
            flex-direction: column;
        }
        .client{
            text-align: center;
            &__photo{
                padding-top: 80px;
            }
            &__opinion{
                padding: 58px 50px 70px 50px;
                font-weight: 600;
                font-size: 18px;
                line-height: 32px;
                color: $dark-gray;
                @media screen and (max-width:600px){
                    padding: 58px 0px 70px 0px;
                }
            }
            &__name{
                font-family: $fraunces !important;
                font-size: 18px;
                color: $dark-blue;
            }
            &__profession{
                padding-top: 10px;
                color: $ligth-gray;
            }
        }
    }
}

.footer{
    @include center-content-column;
    background-color: $ligth-green;
    text-align: center;
    padding: 64px 0px 80px 0px;
    &__options{
        margin-top: 40px;
        &--green{
            color: $green;
            text-decoration: none;
            padding: 0px 28px 0px 28px;
        }
        &--green:hover{
            color: $white;
            cursor: grab;
        }
    }
    &__socialMedia{
        display: flex;
        padding-top: 80px;
        padding-left: 50px;
        &--facebook{
            @include social-media-icon('./socialmedia2.svg');
        }
        &--facebook:hover{
            @include social-media-icon('./socialmediawhite2.svg');
        }
        &--instagram{
            @include social-media-icon('./socialmedia1.svg');
        }
        &--instagram:hover{
            @include social-media-icon('./socialmediawhite1.svg');
        }
        &--twitter{
            @include social-media-icon('./socialmedia3.svg');
        }
        &--twitter:hover{
            @include social-media-icon('./socialmediawhite3.svg');
        }
        &--pinterest{
            @include social-media-icon('./socialmedia4.svg');
        }
        &--pinterest:hover{
            @include social-media-icon('./socialmediawhite4.svg');
        }
    }
}